@mixin standard-button{
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #333;
    font-size: 11px;
    text-decoration: none;
    background-color: $background-standard-color;
}