﻿@import '_colors';
@import '_mixins.scss';
@import '_variables';

body {
    font-family: $font-standard;
    font-size: $standard-font-size;
    max-width: 1220px;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;  
    display: flex;
    flex-direction: column;
}

input[type="button"]{

    @include standard-button;
    display: inline-block;
    padding: 8px 10px;
}

input[type="search"]{
    padding: 0;
    height: 20px;
}

.flex_item{
    flex: 1;
}

header
{
     width: 100%;
    flex-direction: row;
     border-bottom: solid 1px black;
    display: flex;
    align-items: center;
}


.header_left{
    text-align: left;
    color: rgb(51,51,51);
    display: flex;
    padding: 0;

    .onclick-menu-content li a 
    {
    color: rgb(51, 51, 51);
    text-decoration: none;
    font-weight: bold;

    &:hover{
        text-decoration: underline;
        }
    }

    ul {
        padding: 0;
        li
        {
            display: inline;
            padding-left: 10px;

            &:first-child{
                padding-left: 0px;
            }
        }
    }
}

.header_main {
  text-align: center;
}

.header_right {
    font-size: small; 
    text-align: right;
    .list_inline
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: nowrap;
        ul{
            display: flex;
            flex-direction: row;
            padding: 0;
            margin: 0;

            li{
                    list-style-type: none; 
                    padding-left: 10px;
                    
                    a {
                        text-decoration: none;
                        color: rgb(51, 51, 51);
                        
                        &:hover {
                                    text-decoration: underline;
                                }
                      }
              }
          }
    }
} 

.menu_container{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

.main_left
 {    
    font-size: 14px;
    font-family: $font-main-left;
    text-align:left;
    flex: 1; 

    li {
        font-style: italic;
    } 

    ul li a:hover
    {
        color: yellow!important;
        background: brown!important;
    }
 }


.main {
  text-align: center;
  flex: 3;
}

img{
    width: 100%;
    height: auto;
}

.main_right
{
    padding: 0 10px;
    margin-bottom: 10px;
    text-align: center;
    flex: 1;
}

.shop 
{
        box-sizing: border-box;
        border: 1px solid #ccc;
        height: 100%;
        width: auto;
}

.footer {
    padding-top: 50px;
    background: $footer-background-color;
    color: $footer-font-color;
    text-align: center;
    font-size: smaller;
    border-bottom-style: none;
    text-transform: uppercase;
    width: 100%;
    align-self: flex-end;

    .list_inline ul {
        padding: 0;
        li
            {
                display: inline;
                border-left: 1px solid;
                padding: 0 5px;

                &:first-child 
                {
                    border-left: none;
                }

                a {
                        color: $footer-font-color;
                        text-decoration: none;

                        &:hover {
                                    color: rgb(153, 153, 153);
                                }
                  }
            }
    }
}
