body {
  font-family: "brandon_grotesque",sans-serif;
  max-width: 1220px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column; }

input[type="button"] {
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid #333;
  font-size: 11px;
  text-decoration: none;
  background-color: white; }

input[type="search"] {
  padding: 0;
  height: 20px; }

.flex_item {
  flex: 1; }

header {
  width: 100%;
  flex-direction: row;
  border-bottom: solid 1px black;
  display: flex;
  align-items: center; }

.header_left {
  text-align: left;
  color: #333333;
  display: flex;
  padding: 0; }
  .header_left .onclick-menu-content li a {
    color: #333333;
    text-decoration: none;
    font-weight: bold; }
    .header_left .onclick-menu-content li a:hover {
      text-decoration: underline; }
  .header_left ul {
    padding: 0; }
    .header_left ul li {
      display: inline;
      padding-left: 10px; }
      .header_left ul li:first-child {
        padding-left: 0px; }

.header_main {
  text-align: center; }

.header_right {
  font-size: small;
  text-align: right; }
  .header_right .list_inline {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap; }
    .header_right .list_inline ul {
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0; }
      .header_right .list_inline ul li {
        list-style-type: none;
        padding-left: 10px; }
        .header_right .list_inline ul li a {
          text-decoration: none;
          color: #333333; }
          .header_right .list_inline ul li a:hover {
            text-decoration: underline; }

.menu_container {
  display: flex;
  flex-direction: row;
  padding: 20px 0; }

.main_left {
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  flex: 1; }
  .main_left li {
    font-style: italic; }
  .main_left ul li a:hover {
    color: yellow !important;
    background: brown !important; }

.main {
  text-align: center;
  flex: 3; }

img {
  width: 100%;
  height: auto; }

.main_right {
  padding: 0 10px;
  margin-bottom: 10px;
  text-align: center;
  flex: 1; }

.shop {
  box-sizing: border-box;
  border: 1px solid #ccc;
  height: 100%;
  width: auto; }

.footer {
  padding-top: 50px;
  background: #333333;
  color: white;
  text-align: center;
  font-size: smaller;
  border-bottom-style: none;
  text-transform: uppercase;
  width: 100%;
  align-self: flex-end; }
  .footer .list_inline ul {
    padding: 0; }
    .footer .list_inline ul li {
      display: inline;
      border-left: 1px solid;
      padding: 0 5px; }
      .footer .list_inline ul li:first-child {
        border-left: none; }
      .footer .list_inline ul li a {
        color: white;
        text-decoration: none; }
        .footer .list_inline ul li a:hover {
          color: #999999; }

/*# sourceMappingURL=ResponsiveCss.css.map */
